header {
  background-color: var(--background-tertiary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

nav {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

.list-links {
  list-style: none;
  padding-bottom: 16px;
}

.list-links li {
    margin: 16px 0;
    padding-left: 48px;

}

.list-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
}
