header {
    background-color: var(--background-tertiary-color);
    width: 100%;
    height: 138px;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
    margin: 37px 0 0 48px;
}