.page-header {
  background-color: var(--background-tertiary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.img-mobile {
    display: block;
}

.img-desktop {
    display: none;
}

.navigation-menu nav {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

.list-links {
  list-style: none;
  padding-bottom: 16px;
}

.list-links li {
    margin: 16px 0;
    padding-left: 48px;

}

.list-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
}

@media screen and (min-width: 768px){
    .navigation-menu nav {
        display: block;
    }

    .navigation-menu label {
        display: none;
    }

      .navigation-menu input {
        display: none;
    }

    .list-links {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        width: 476px;
        font-size: 24px;
    }

    .list-links li {
        padding: 0;
    }

}

@media screen and (min-width: 1024px){
    
    .page-header {
        padding: 37px 120px;
    }
    
    .img-desktop {
        display: block;
    }

    .img-mobile {
        display: none;
    }

    .navigation-menu a:hover {
        color: var(--primary-color)
    }
}