.payments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 88px;
}

.payment-section {

}

.payment-section h2 {

}

.payment-section p {

}

.payment-img1 {

}

.payment-img2 {

}

.payment-img3 {

}